* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.calculator {
  display: grid;
  justify-content: center;
  padding-top: 30px;
}

.calculator-container {
  background-color: transparent !important;
  min-width: 350px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 50px);
}

.calculator-container .output {
  grid-column: span 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #858694;
}

.calculator-container .output span {
  margin-right: 5px;
  color: #fff;
  font-size: 21px;
}

.calculator-container .span-2 {
  grid-column: span 2;
}

.calculator-container .bg-light-grey {
  background-color: #e0e0e0;
}

.calculator-container .operator {
  background-color: #f5913e;
}

.calculator-container button {
  cursor: pointer;
  border: 1px solid #bababa;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: pink;
  justify-content: space-between;
  padding: 25px;
}

.navbar h1 a {
  color: #000;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 10px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
}

.navbar ul li a {
  color: #00802b;
  font-size: 18px;
}

.home {
  padding: 35px 25px 0 25px;
}

.home h2 {
  margin-bottom: 35px;
  font-weight: 500;
}

.home p {
  margin: 14px 0;
}
